@media all
{

.mod_sec li {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 2px;
  padding-left: 3px;
  height:auto;
  width:150px;
  line-height: 1.5em;
  border: 1px solid #ddd;
  text-decoration: none;
}
.mod_sec li:hover {
  background-color: #ddd;
  background:url(../../images/arrow.png);
  background-repeat:no-repeat;
  background-position:right center;
  text-decoration: none;
}



.mod_sec li a {
  display: block;
  line-height: 1.5em;
  height:auto;
  width:200px;
  text-decoration: none;
}
.mod_sec li a:hover, .mod_sec li a:active, .mod_sec li a:focus {
  text-decoration: none;
}


}