#myGallery {
	/*width: 700px;*/
	height: 382px;
	vertical-align:center;
}
#myGallery img {
	border: 0px solid #52697E;
}
a.loading {
	background: #fff url(../images/ajax_small.gif) no-repeat center;
}