	.dhtmlgoodies_tabPane{
		height:24px;	/* Height of tabs */
		border-bottom:1px solid #919b9c;
		background-color:#215C84;
	}
	.dhtmlgoodies_aTab{
		/*background:#FFFFFF;
		border-left:1px solid #919b9c;
		border-right:1px solid #919b9c;
		border-bottom:1px solid #919b9c;*/
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	}
	
	#panelinnerdiv {
	background:transparent;
	width:400px;
	margin-left:15px;
	height:226px;
 }
	#dhtmlgoodies_tabView1{
      background-color:#FFFFFF;
    }
	/*#dhtmlgoodies_tabView1 {
    background: url('../images/white-bg-bottom-r.png') no-repeat scroll right top transparent;
    content: url('../images/white-bg-bottom-l.png');
    display: block;
}
	#dhtmlgoodies_tabView1 {
    background: url('../images/white-bg-top-r.png') no-repeat scroll right top transparent;
    display: block;
}*/
	
	.dhtmlgoodies_tabPane DIV{
		float:left;
		height:auto;	/* Height of tabs */
		padding-left:3px;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:-1px;
		margin-left:0px;
		margin-right:0px;
	}
	.dhtmlgoodies_tabPane .tabActive{
		background-image:url('../images/login-Bg-Top.png');
		height:24px;
		width:78px;
		margin-left:0px;
		margin-right:0px;	
		z-index:10;	
	}
	.dhtmlgoodies_tabPane .tabInactive{
		background-image:url('../images/register-Bg-Top.png');
		height:24px;
		width:78px;
		margin-left:0px;
		margin-right:0px;
		z-index:1;
	}
	
	
	.dhtmlgoodies_tabPane span{
		font-family:"trebuchet MS";
		font-size:14px;
		padding-left:10px;
		padding-top:3px;		
		line-height:21px;
		float:left;
		color:#FFFFFF;
		font-weight:bold;
		text-align:center;
		margin-bottom:2px;
	}
	
	.dhtmlgoodies_tabPane .tabActive span{
		padding-bottom:1px;
		line-height:20px;
		color:#215C84;
		font-family:"trebuchet MS";
		font-weight:bold;
		font-size:14px;
		vertical-align:middle;
		text-align:center;
	}
	
	.dhtmlgoodies_tabPane img{
		float:left;
		display:none;
	}

