	.dhtmlgoodies_tabPane{
		height:24px;	/* Height of tabs */
		border-bottom:1px solid #215C84;
		background-color:#215C84;
	}
	.dhtmlgoodies_aTab{
		
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	}
	
	#panelinnerdiv {
	background:transparent;
	width:400px;
	margin-left:15px;
	height:232px;
 	}
	
	
	#dhtmlgoodies_tabView1{
	height:230px;
	background-color:#FFFFFF;
	}
	
	/* 
	
	#dhtmlgoodies_tabView1:after{
		background: url("../images/white-bg-bottom-r.png") no-repeat scroll right top transparent;
		content: url("../images/white-bg-bottom-l.png");
		display: block;
	}
	
	#dhtmlgoodies_tabView1:before {
		background: url("../images/white-bg-top-r.png") no-repeat scroll right top transparent;
		content: url("../images/Bg-L-top.png");
		display: block;
	}*/
	#divtop {
		/*background-color: #6699CC;*/
		background-image: url("../images/white-bg-top-r.png");
		background-repeat: no-repeat;
		background-position: right top;
		margin: 0px;
		
	}
	
	#divbottom {
		background-image: url("../images/white-bg-bottom-r.png");
		background-repeat: no-repeat;
		background-position: 100% 0%;
		height:30px;
		margin-top:-20px;
		
	}
	
	.dhtmlgoodies_tabPane DIV{
		float:left;
		height:auto;	/* Height of tabs */
		
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:-1px;
		margin-right:0px;
		}
	.dhtmlgoodies_tabPane .tabActive{
		background-image:url('../images/login-Bg-Top.png');
		height:24px;
		width:80px;
		margin-left:0px;
		margin-right:0px;	
		z-index:10;
			
	}
	.dhtmlgoodies_tabPane .tabInactive{
		background-image:url('../images/register-Bg-Top.png');
		height:24px;
		width:80px;
		margin-left:0px;
		margin-right:0px;
		z-index:1;
		
	}
	
	
	.dhtmlgoodies_tabPane span{
		font-family:"trebuchet MS";
		font-size:14px;
		padding-left:10px;
		padding-top:3px;		
		line-height:21px;
		float:left;
		color:#FFFFFF;
		font-weight:bold;
		text-align:center;
		margin-bottom:2px;
	}
	
	.dhtmlgoodies_tabPane .tabActive span{
		padding-bottom:1px;
		line-height:20px;
		color:#215C84;
		font-family:"trebuchet MS";
		font-weight:bold;
		font-size:14px;
		text-align:center;
	}
	
	.dhtmlgoodies_tabPane img{
		float:left;
		display:none;
	}

